{% block menu %}
<nav role="navigation">
    <div id="mf-nav">
        <ul class="mf-clear">
            <li>
                <a href="{{ path( menuLocations.news ) }}" title="Toute l'actualité Métal musique"">News</a>
            </li>
            <li>
                {% set reviewsPath = path( menuLocations.reviews ) %}
                <a href="{{ reviewsPath }}" title="Retrouvez les critiques des derniers albums de métal">Chroniques</a>
                <ul>
                    <li><a href="{{ reviewsPath }}" rel="nofollow">Nouveautés</a></li>
                    <li><a href="{{ reviewsPath ~ "/(type)/decouvertes" }}">Découvertes</a></li>
                </ul>
            </li>
            <li><a href="{{ path( menuLocations.agenda ) }}" title="Tous les derniers concerts groupes de métal">Concerts</a></li>
            <li>
                <a href="{{ path( menuLocations.liveReports ) }}" title="Les derniers live reports sur les concerts de métal">Live reports</a>
            </li>
            <li><a href="{{ path( menuLocations.photos ) }}" title="Venez découvrir les photos de concerts de métal">Photos</a></li>
            <li><a href="{{ path( menuLocations.interviews ) }}" title="Les dernières interviews de groupes"">Interviews</a></li>
            <li>
                <a href={{ linkSettings.forum }}>Communauté</a>
                <ul>
                    <li><a href="{{ linkSettings.forum }}">Forum</a></li>
                    <li><a href="{{ linkSettings.twitter }}" target="_blank">Twitter</a></li>
                    <li><a href="{{ linkSettings.facebook }}" target="_blank">Facebook</a></li>
                    <li><a href="{{ path( menuLocations.contact ) }}">Contact</a></li>
                </ul>
            </li>
            <li>
                <div id="header-search">
                    <div id="searchbox">
                        <form action="{{ path( 'ez_legacy', {'module_uri': '/content/search'} ) }}" method="get">
                        <label for="searchtext" class="hide mf-hidden">Rechercher:</label>
                        <div id="ezautocomplete" class="yui-ac">
                            <input id="searchtext" class="yui-ac-input" name="SearchText" type="text" value="" />
                            <input id="searchbutton" class="button mf-hidden" type="submit" value="Chercher" />
                            <div id="ezautocompletecontainer" class="yui-ac-container"></div>
                            <div class="searchbuttonfield" id="searchbuttonfield"></div>
                        </div>

                        </form>
                    </div>
                </div>
            </li>
        </ul>
        <div class="mf-nav-left"></div>
        <div class="mf-nav-right"></div>
    </div>
</nav>
{% endblock %}
