{% block eztags_field %}
    <p>
    {% for tag in field.value.tags %}
        <img class="transparent-png-icon" src="{{ asset( "bundles/metalfrancesite/images/tag_icons/" ~ parameters.icon|default( "small/blue-tag.png" ) ) }}" />
        <a href="{{ path( 'ez_legacy', { 'module_uri': '/tags/view/' ~ eztags_tag_url( tag ) } ) }}">{{ tag.keyword }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
{% endblock %}

{# Override of built-in ezimage_field block, that give the opportunity to specify an alt text as parameter #}
{% block ezimage_field %}
    {% set alias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
    <img src="{{ asset( alias.uri ) }}" width="{{ alias.width }}" height="{{ alias.height }}" alt="{{ parameters.alternativeText|default( field.value.alternativeText ) }}" />
{% endblock %}
