{% extends viewbaseLayout %}

{% block content %}
    {% set contentName = ez_content_name( content ) %}
    <li>
        <article>
            <h3>
                <a href="{{ path( location ) }}" rel="nofollow">{{ contentName }}</a>
                <span class="mf-news-date">{{ content.contentInfo.publishedDate|localizeddate( "short", "short", app.request.locale ) }}</span>
            </h3>
            {{ ez_render_field( content, "body", {"template": "@MetalFranceSite/fields/ezxml_shorten.html.twig"} ) }}
            <footer><a href={{ path( location ) }}>{{"Lire la suite de l'actualité %actu%"|trans( {"%actu%": contentName}, "metalfrance" )}}</a></footer>
        </article>
    </li>
{% endblock %}
